.work-section {
    padding: 100px 0 200px 0;
}

.work-title {
    margin-bottom: 80px;
    color: #83888F;
    font-family: Fraunces, serif;
    font-size: 24px;
    font-style: normal; 
    font-weight: 900;
    line-height: 32px;
}

.work-circle {
    background-color: #FEFCF7;
    stroke-width: 2px;
    stroke: #0E8784;
    margin-bottom: 67px;
    width: 31px;
    height: 31px;
    border: 2px solid #0E8784;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    z-index: 2;
}

.work-card-wrapper {
    margin-bottom: 61px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work__line {
    width: 77%;
    border: 2px solid #FDD6BA;
    display: inline-block;
    position: absolute;
    bottom: -21px;
    position: relative;
    z-index: 1;
}


.work__card {
    width: 285px;
    display: flex;
    flex-direction: column;
}

.work__card-number {
    margin-bottom: 38px;
    color: #FDD6BA;
    font-family: Fraunces, serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px; /* 100% */
}

.strong-wrapper {
    width: 255px;
    margin-bottom: 42px;
}

.work__card-title {
    color: #333D4B;
    font-family: Fraunces, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
}

.work__card-text {
    color: #333D4B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.work__link {
    padding: 15px 31px;
    display: inline-block;
    color: #FEFCF7;
    text-align: center;
    font-family: Fraunces, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    border-radius: 6px;
    background: #0E8784;
    transition: background-color 0.4s linear;
    
    &:hover {
        background-color: #66D2CF;
    }
}







@media only screen and (max-width:1117px) {
    .work__line {
        width: 75%;
    }
}

@media only screen and (max-width:1057px) {
    .work__line {
        width: 73%;
    }
}

@media only screen and (max-width:1057px) {
    .work__line {
        width: 70%;
    }
}

@media only screen and (max-width:858px) {
    .work-card-wrapper {
        align-items: start;
    }

    .work__card {
        width: 200px;
    }

    .work__line {
        width: 76%;
    }
}

@media only screen and (max-width:742px) {
    .work__line {
        width: 73%;
    }
}

@media only screen and (max-width:670px) {
    .work-title {
        text-align: center;
    }

    .work__line {
        display: none;
    }

    .work-circle {
        display: none;
    }

    .work-card-wrapper {
        padding: 0 24px;
        flex-direction: column;
        align-items: center;
    }

    .work__card {
        width: 100%;
        align-items: center;

        & + & {
            margin-top: 56px;
        }
    }

    .work__card-number {
        margin-bottom: 24px;
        text-align: center;
    }

    .work__card-title {
        @include site-title($title-color: #333D4B, $font-size:28px, $font-weight:32px);
        display: block;
        text-align: center;
    }

    .strong-wrapper {
        width: 100%;
    }

    .work__card-text {
        text-align: center;
    }

    .work__link {
        width: 217px;
        margin: 0 auto;
        display: block;
    }
}