.hero-section2 {
    margin: 43px 0 168px;
}

.hero__content2 {
    padding: 137px 0 137px 85px;
    background-image: url("../images/hero-bg2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 10px;
}

.hero__title-wrapper2 {
    width: 540px;
}

.hero__title2 {
    color: #FEFCF7;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px; /* 120% */
}